:root {
/* ----- Fuentes ----- */
    --font-size-0: clamp(14px, 10px + 1vw, 16px);
    --font-size-1: clamp(16px, 10px + 1.1vw, 18px);
    --font-size-2: clamp(16px, 10px + 1.2vw, 20px);
    --font-size-3: clamp(16px, 10px + 1.3vw, 24px);
    --font-size-4: clamp(18px, 10px + 1.2vw, 22px);
    --font-size-5: clamp(14px, 10px + 1.1vw, 26px);
    --font-size-6: clamp(14px, 10px + 1.2vw, 30px);
    --font-size-7: clamp(22px, 18px + 1.3vw, 30px);
    --font-size-8: clamp(24px, 18px + 1.6vw, 32px);
    --font-size-9: clamp(16px, 8px + 1.3vw, 32px);
    --font-family-1: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    --font-family-2: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
/* -----Header----- */
    --header-bgimage: linear-gradient(
        #000000e7 60%,
        #252121dc 80%, 
        #f8f8f8
       );
    --header-color:#ffffff;
    --header-hover-bgcolor:#ffffff44;

/* -----Principal----- */
    --principal-presentacion-bgcolor: #252121dc;
    --principal-presentacion-texto-bgcolor: #000000;
    --principal-presentacion-texto-color: #a09b82;
    --principal-presentacion-texto-textshadow: 10px -5px 10px #daa520a2;

/* -----Titulos Generales----- */
    --h1-color: #ffffff;
    --h1-bgcolor: #000000;
    --h1-outline:#e6dddd;

/* -----Estrellas ----- */
    --estrellas-nav-bgimage: linear-gradient(
            #87cfebcc,
            #16152cb3); 
    --estrellas-nav-horizontal-bgimage: linear-gradient(
            to left,
            #434346dc,
            #2f4561);
    --estrellas-menu-color: #c0ad72;
    --estrellas-menu-border: #c0ad72;
    --estrellas-menu-textshadow: #533f02;
    --estrellas-menu-horizontal-textshadow: #000000;
    --estrellas-menu-horizontal-boxshadow: -5px 0px 10px #000000b3;
    --estrellas-menu-hover-bgcolor: #87cfebe6;
    --estrellas-menu-horizontal-hover-bgcolor: #2aa7b3b3;
    --estrellas-h2-color: #dadbcf;
    --estrellas-h2-border: #020818;
    --estrellas-h2-textshadow: #533f02;
    --estrellas-h2-bgcolor: #0b0b3f4d;
    --estrellas-h2-bgimage: linear-gradient(
            to right,
            #ffffff80,
            #092a3f99,
            #d8ee5b99);
    --estrellas-h3-border: #000000;
    --estrellas-h3-bgcolor: #2aa7b3b3;

/* -----Estrellas Bio----- */
    --estrellas-bio-bgimage: repeating-linear-gradient(
            to bottom left,
            rgba(56, 104, 122, 0.781) 10%,
            white 30%,
            rgba(45, 162, 177, 0.514) 160%
        );
    --estrellas-bio-img-border: #000000;
    --estrellas-bio-texto-span: #49492f;
    --estrellas-bio-texto-span-border: 1px solid #979931;

/* -----Estrellas Talentos----- */
    --estrellas-talentos-border: #000000;
    --estrellas-talentos-bgcolor: #42626e5b;
    --estrellas-talentos-nombre-bgcolor: #40a5aca9;
    --estrellas-talentos-nombre-border: #686935;
    --estrellas-talentos-boxshadow: -3px 0px 10px #000000b3;
    --estrellas-talentos-niveles-border: #686935;
    --estrellas-talentos-nivel-ganado: #08e45c;
    --estrellas-talentos-nivel-no-ganado: #ffffff80;
    
 /* -----Estrellas Galeria----- */
    --estrellas-galeria-hover-img: #000000;
    --estrellas-galeria-oculto-bgcolor: #000000da;
    --estrellas-galeria-oculto-border: #ffffff;
    --estrellas-galeria-oculto-color: #ffffff;
    --estrellas-galeria-oculto-hover-bgcolor: #808080c0;
    
    
/* -----Contacto----- */
     --contacto-bgimage: linear-gradient(
        to left bottom,
        #0f7d81b9 20%,
        #ffffff 10%,
        #ffffff 20%,
        #050418bb 80%,
        #ffffff 10%,
        #09a4b9b9 10%
        );
    --contacto-formulario-border: #000000;
    --contacto-formulario-bgcolor:#c2c2cc;
    --contacto-formulario-legend-border:#8b8057;
    --contacto-formulario-datos-border-1: #72706b;
    --contacto-formulario-datos-border-2: #ffffff;
    --contacto-boton-color:#ffffff;
    --contacto-boton-bgcolor:#726f6f;
    --contacto-boton-border: #ffffff;
    --contacto-boton-boxshadow: #00000080;
    --contacto-boton-hover-bgcolor:  #47808f;
        
/* -----Footer----- */
    --footer-bgcolor:#1a3e6886;
    --footer-nombre-border:#000000e8;
    --footer-nombre-color:#000000;
    --footer-bgimage: linear-gradient(
            to right,
            #dce2c3d0 20%,
            #4097adc5,
            #165e6bb4
        );
    --footer-contenedor-border: #daa520;
    --footer-link-border:#9e7c26; 
    --footer-link-bgcolor: #0b3549d0;
    --footer-link-hover-border: #ffffff;
    --footer-link-visited: #ffffff;
    --footer-iframe-border: #ffffff;
    --footer-iframe-boxshadow: 0 0 5px #000000;
    --footer-iframe-p-bgcolor: #000000;
    --footer-iframe-p-color:  #ffffff;

/* -----Animacion----- */
    --animacion-principal-color: #ffffff;
}


* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    list-style: none;
}

img { max-width: 100%; }

body { font-family: var(--font-family-1); }


/*-------------------- INICIO HEADER --------------------*/
header {
    position: absolute;
    z-index: 20;
    width: 100%;
    height: 100px;
}

.nav {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100px;
    background-image: var(--header-bgimage);
    display: flex;
    gap: 20px;
}

.nav-logo {
    width: 20%;
    flex-grow: 1;
}

.nav-logo-img {
    max-width: 100%;
    min-width: 100px;
    width: 100%;
    height: 100%;
    padding-left: 15px;
    padding-top: 10px;
    object-fit: contain;
    object-position: center;
    transition: all 0.5s;
}

.nav-logo-img:hover {
    filter: invert(1);
    margin-top: 10px;
}

.nav-menu {
    padding-right: 10px;
    flex-grow: 5;
    display: flex;
}

.nav-menu-item {flex-grow: 1;}

.nav-menu-link {
    display: block;
    width: 100%;
    height: 100%;
    padding-top: 26px;
    font-size: 22px;
    font-size: var(--font-size-6);
    color: var(--header-color);
    text-decoration: none;
    text-align: center;
    letter-spacing: 0.2vw;
    transition: all 0.8s;
}

.nav-menu-link:hover {
    padding-top: 40px;
    font-size: 26px;
    font-size: var(--font-size-9);
    letter-spacing: max(5px, 0.6vw);
    background-color: var(--header-hover-bgcolor);
    border-right: 3px solid var(--header-color);
}

/*-------------------- FIN HEADER --------------------*/

/*-------------------- INICIO PRINCIPAL --------------------*/

/* ---- pricipal: presentacion ----- */

.principal-presentacion {
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: var(--principal-presentacion-bgcolor);
}

.principal-presentacion-img {
    width: 100%;
    height:100vh;
    object-fit: cover;
}

.principal-presentacion-texto {
    position: absolute;
    top: 75vh;
    width: 100%;
    min-height: 50px;
    padding: 2.5vh;
    display: flex;
    flex-direction: column;
    gap: 2vh;
    font-size: 2.2vh;
    color: var(--principal-presentacion-texto-color);
    text-shadow: var(--principal-presentacion-texto-textshadow);
    text-align: center;
    letter-spacing: 1.8vh;
    background-color: var(--principal-presentacion-texto-bgcolor);
    opacity: 0.85;
}

/* ----- principal: contenido ---- */

.principal-contenido {
    width: 80%;
    padding: 1vw;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    column-gap: 4vw;
    row-gap: 7vh;
}

.principal-contenido h3 {
    height:6vh;
    min-height: 40px;
    margin-bottom: 20px;
    padding-top: 2vh;
    padding-bottom: 2.3vh;
    font-size: 18px;
    font-size: clamp(13px, 10px + 1vw, 20px);
    color: var(--h1-color);
    text-align: center;
    letter-spacing: 5px;
    background-color: var(--h1-bgcolor);
    outline: 2px solid var(--h1-outline);
    outline-offset: -8px;
}

.principal-contenido p {
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    font-family: var(--font-family-2);
    text-indent: 20px;
    line-height: 200%;
    text-align: justify;   
}

.intro-contacto {
    grid-column: span 2;
    margin-bottom: 80px;
}

/*--------------------FIN:PRINCIPAL--------------------*/

/*--------------------INICIO:AGENCIA--------------------*/

.agencia {
    position: relative; 
    top: 100px;
    width: 100%;
    height: 100vh;
}

 .agencia-h1 {
    height:8vh;
    min-height: 40px;
    margin-bottom: 20px;
    padding-top: 2vh;
    padding-bottom: 2.3vh;
    font-size: var(--font-size-3);
    color: var(--h1-color);
    text-align: center;
    letter-spacing: 8px;
    background-color: var(--h1-bgcolor);
    outline: 2px solid var(--h1-outline);
    outline-offset: -8px;
}

.agencia-contenido { text-align: center; }

/*--------------------FIN:AGENCIA --------------------*/


/*--------------------INICIO:ESTRELLAS--------------------*/
.estrellas {
    position: relative;
    top: 100px;
    width: 100%;
    height: auto;
    margin-bottom: 180px;
    display: grid;
    grid-template-columns: 22% 1fr;
    grid-template-rows: 1fr;
}

.estrellas-h1 {
    height:8vh;
    min-height: 40px;
    margin-bottom: 20px;
    padding-top: 2vh;
    padding-bottom: 2.3vh;
    font-size: var(--font-size-3);
    color: var(--h1-color);
    text-align: center;
    letter-spacing: 8px;
    background-color: var(--h1-bgcolor);
    outline: 2px solid var(--h1-outline);
    outline-offset: -8px;
    grid-column: span 2;
}

/* ----- estrellas: botonera ----- */
#milo,
#odin,
#rosita,
#jade { scroll-margin-top: 220px; }

.estrellas-nav {
    position: sticky;
    top: 200px;
    width: 50px;
    height: 64vh;
    background-image: var(--estrellas-nav-bgimage);
    z-index: 10;
}

.estrellas-menu-item {
    padding-left: 20px;
    height: 9vh;
}

.estrellas-menu-link {
    height: 100%;
    width: 250px;
    padding-left: 50px;
    display: flex;
    align-items: end;
    font-size: 30px;
    font-style: italic;
    color: var(--estrellas-menu-color);
    letter-spacing: 12px;
    text-decoration: none;
    text-shadow: 4px -2px var(--estrellas-menu-textshadow);
    border-bottom: 2px solid var(--estrellas-menu-border);
    transition: all 1.5s;
}

.estrellas-menu-link:hover {
    width: 350px;
    padding-left: 200px;
    font-size: 34px;
    letter-spacing: 4px;
    background-color: var(--estrellas-menu-hover-bgcolor);
    border: none;
}

/* ----- estrellas: contenido ----- */

.estrellas-mascota {
    width: 1300px;
    height: auto;
 }

.estrellas-h2 {
    position: sticky;
    top: 100px;
    z-index: 15;
    width: 100%;
    height: 70px;
    padding: 5px;
    margin-bottom: 3px;
    font-size: 50px;
    letter-spacing: 15px;
    color: var(--estrellas-h2-color);
    text-shadow: 4px -2px var(--estrellas-h2-textshadow);
    text-align: center;
    border: 4px solid var(--estrellas-h2-border);
    border-left: none;
    border-right: none;
    background-color: var(--estrellas-h2-bgcolor);
    background-image:var(--estrellas-h2-bgimage);
}

.estrellas-h3 {
    width: 90%;
    height: 70px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
    margin-bottom: 60px;
    padding: 8px;
    padding-right: 15px;
    font-size: 40px;
    text-align: right;
    letter-spacing: 10px;
    border: 2px solid var(--estrellas-h3-border);
    border-right: 15px solid var(--estrellas-h3-border);  
    background-color: var(--estrellas-h3-bgcolor);
}

 /* ----- estrellas: bio ----- */

 .estrellas-bio {
    width: 90%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    font-size: var(--font-size-4);
    padding: 50px;
    padding: 0;
    display: flex;
    align-items: center;
    background-image: var(--estrellas-bio-bgimage);
}

.estrellas-bio-img {
    width: auto;
    height: 40vw;
    max-height: 400px;
    border: 4px solid var(--estrellas-bio-img-border);
    border-radius: 40px;
    margin-left: 30px;
    margin-right: 20px;
    margin-bottom: 20px;
}

.estrellas-bio-texto {
    padding: 16px;
    font-family: var(--font-family-2);
}

.estrellas-bio-texto p { 
    margin-bottom: 15px;
    text-align: center;
}

.estrellas-bio-texto ul{
   padding-left: 30px;
}

.estrellas-bio-texto li {
    margin-bottom: 10px;
    font-style: italic; 
    list-style: circle;
}

.estrellas-bio-texto span{
    color: var(--estrellas-bio-texto-span);
    border-bottom: var(--estrellas-bio-texto-span-border);
}

/* ----- estrellas: talentos ----- */

.estrellas-talentos {
    width: 80%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
    padding: 30px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: repeat(6, 1fr);
    gap: 20px;
    align-items: center;
    border: 3px solid var(--estrellas-bio-img-border);
    background-color: var(--estrellas-talentos-bgcolor);  
 }   

.talento-nombre {
    padding: 10px;
    margin-left: 10px;
    margin-bottom: 5px;
    font-size: var(--font-size-5);
    font-style: italic;
    text-align: center;
    letter-spacing: 0.2vw;
    box-shadow: var(--estrellas-talentos-boxshadow);
    border-top: 2.5px solid var(--estrellas-talentos-nombre-border);
    border-bottom: 2.5px solid var(--estrellas-talentos-nombre-border);
    background-color: var( --estrellas-talentos-nombre-bgcolor);
    opacity: 0.8;
}

.talento-niveles {
    padding: 10px;   
    font-size: 12px;
    display: flex;
    gap: 5px;
}

.talento-niveles *{
    flex-grow: 1;
    text-align: center;
    box-shadow: var(--estrellas-talentos-boxshadow);
    border: 2.5px solid var(--estrellas-talentos-niveles-border);
    border-radius: 2px;  
    background-color: var(--estrellas-talentos-nivel-no-ganado);
}

.nivel-ganado {
    background-color: var( --estrellas-talentos-nivel-ganado);
}


/* ----- estrellas: galeria ----- */

.estrellas-galeria {
    width: 90%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 80px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    justify-items: end;
    gap: 3vw;
}

.estrellas-galeria div{
    width: 100%;
    height: 250px;
}

.estrellas-galeria img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 0.5s;
}

.estrellas-galeria img:hover {
    position: relative;
    z-index: 12;
    border: 2px solid var(--estrellas-galeria-hover-img);
    transform: scale(1.2, 1.2);
}

.estrellas-galeria-oculto div {
    position:fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: var(--estrellas-galeria-oculto-bgcolor);
    display: none;
}

.estrellas-galeria-oculto div:target {
    z-index: 30; 
    width: 95%;
    max-height: 90vh;
    margin-top: 5vh;
    margin-right: auto;
    margin-left: auto;
    display: block;
}

.estrellas-galeria-oculto div a {
    position: relative;
    width: 95%;
    height: 95%;
    margin-top: 3vh;
    margin-left: auto;
    margin-right: auto;
    color: var(--estrellas-galeria-oculto-color);
    text-align: center;
    border: 2px solid var(--estrellas-galeria-oculto-border);
    display: block;
}

.estrellas-galeria-oculto div img {
    width: 120%;
    height: auto;
    max-height: 73vh;
    margin-top: 7vh;
    margin-left: auto;
    margin-right: auto;
    object-fit: contain;   
}

.estrellas-galeria-oculto div p {
    position: absolute;
    top: 0px;
    right: 0px;
    margin-right: 20px;
    margin-top: 8px;
    padding: 10px;
    text-decoration: underline;
    border: 1px solid var(--estrellas-galeria-oculto-border);
    transition: all 0.6s;
}

@media(hover: hover) and (pointer: fine) {
    .estrellas-galeria-oculto div p:hover{
        padding: 15px 30px;
        text-decoration: none;
        background-color: var(--estrellas-galeria-oculto-hover-bgcolor);
    }
}


/*-------------------- FIN: ESTRELLAS --------------------*/

/*-------------------- INICIO: CONTACTO --------------------*/

.contacto {
    position: relative;
    top: 100px;
    width: 100%;
    height: auto;
    margin-bottom: 110px;
    padding-bottom: 250px;
    background-image: var(--contacto-bgimage);
}

.contacto-h1 {
    height:8vh;
    min-height: 40px;
    margin-bottom: 20px;
    display:flex;
    align-items: center;
    justify-content: center;
    font-size: var(--font-size-3);
    color: var(--h1-color);
    text-align: center;
    letter-spacing: 8px;
    background-color: var(--h1-bgcolor);
    outline: 2px solid var(--h1-outline);
    outline-offset: -8px;  
}

.contacto-contenido {
    width: 80vw;
    margin-left: auto;
    margin-right: auto;
    font-family: var(--font-family-2);   
    font-size: var(--font-size-2);
}

.contacto-contenido-texto {
  padding: 10px;
  margin-bottom: 20px;
  font-size: var(--font-size-2);
  line-height: 28px;  
  text-indent: 30px;
  text-align: justify;
}

/*----- contacto: formulario -----*/

.contacto-formulario {
    margin-left: 10vw;
    margin-right: 10vw;
    padding: 20px;
    font-weight: bold;
    border: 2px solid var(--contacto-formulario-border);
    background-color: var(--contacto-formulario-bgcolor);
}

.contacto-formulario fieldset {
    padding: 20px;
    margin-bottom: 30px;
}

.contacto-formulario legend {
    padding: 15px 20px;
    letter-spacing: 2px;
    text-align: center;
    border-top: 2px solid var(--contacto-formulario-legend-border);
    border-bottom: 2px solid var(--contacto-formulario-legend-border);
}

.contacto-formulario-datos label {
    width: 250px;
    margin-left: auto;
    margin-right: auto;
    padding: 4px;
    font-size: 16px;
    text-align: center;  
    display: block;
}

.contacto-formulario-datos input,
.contacto-formulario-datos select,
.contacto-formulario-datos textarea {
    width: max(230px, 38vw);
    max-width: 450px;
    margin-left: auto;
    margin-right: auto;
    padding: 7px;
    margin-bottom: 25px;
    font-size: 18px;
    border-top: 2px solid var(--contacto-formulario-datos-border-1);
    border-bottom: 2px solid var(--contacto-formulario-datos-border-1);
    border-left: 2px solid var(--contacto-formulario-datos-border-2);
    border-right: 2px solid var(--contacto-formulario-datos-border-2);
    display: block;
}


.contacto-contenido fieldset p {
    padding: 10px;
    font-size: 16px;
    line-height: 28px;  
    text-align: center;
}

.contacto-formulario-radio {
    padding-top: 5px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contacto-formulario-radio input {
    width: 25px;
    height: 25px;
    margin-left: 1vw;
    display: inline-block;
}

.contacto-formulario-radio label {
    padding-left: 10px;
    padding-right: 20px;
    font-size: 16px;
    display: inline-block;
}

.contacto-formulario-checkbox {
    font-size: 16px;
    display: flex;
    flex-flow: column wrap;
    align-content: space-around;
}

.contacto-formulario-checkbox input{
    width: 25px;
    height: 25px;
    margin-top: 5px;
    margin-bottom: 10px;  
    margin-right: 15px;
    display: inline-block;
}

.contacto-formulario-checkbox label{
    padding-left: 10px;
    font-size: 16px;
}

.contacto-formulario-checkbox label:nth-child(5) {
    padding-bottom: 10px;
    font-size: var(--font-size-0);
}

@media(hover: hover) and (pointer: fine){
    .contacto-formulario-datos input:hover,
    .contacto-formulario-datos select:hover {
        width: max(250px, 40vw);
        max-width: 470px;
        border: 2px solid var(--contacto-formulario-datos-border-2);
    }

    .contacto-formulario-estrellas input:hover {
        transform: scale(1.1);
    }
}

/*----- contacto: botones -----*/

.boton-enviar,
.boton-reiniciar {
    display: block;
    width: 200px;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    letter-spacing: 1.7px;
    color: var(--contacto-boton-color);
    background-color: var( --contacto-boton-enviar-bgcolor);
    border: 1px solid var( --contacto-boton-enviar-bgcolor);
    background-color:var(--contacto-boton-bgcolor);
    border-bottom: 2.5px solid var(--contacto-boton-border);
    box-shadow: 5px 5px 10px var(--contacto-boton-boxshadow);
    cursor: pointer;
    transition: background-color 0.3s 0.8s;
}

.boton-reiniciar {
    width: 150px;
    font-size: 16px;
    transition: all 0.3s;
}

.efecto-boton {
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    position:relative;
}

.efecto-boton::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 0;
    background-color: var(--contacto-boton-hover-bgcolor);
    border-left: 0.5px solid var(--contacto-boton-border);
    transition: all 0.9s;  
}

@media(hover: hover) and (pointer: fine) {
    .boton-enviar:hover,
    .boton-reiniciar:hover {
        background-color: var(--contacto-boton-hover-bgcolor);  
        border: 0.5px solid var(--contacto-boton-border);
    }

    .boton-reiniciar:hover{
        opacity: 0.8;
    }

    .efecto-boton:hover::after {
        width: 99%;
        height: 5px; 
    }  
}

/*-------------------- FIN: CONTACTO --------------------*/


/*-------------------- INICIO: FOOTER --------------------*/

footer {
    width: 100%;
    padding-left: 10%;
    padding-right: 10%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3vw;
    background-color: var(--footer-bgcolor);
}

.footer-contenedor {
    border-right: 1px solid var(--footer-contenedor-border);
    border-left: 1px solid var(--footer-contenedor-border);
    background-color: var(--footer-bgcolor);
}

.footer-contenedor-nombre {
    height: 7vh;
    min-height: 45px;
    margin-bottom: 1.5vw;
    padding-top: 1.5vh;
    padding-bottom: 1vh;
    font-size: 20px;
    font-weight: bold;
    color: var(--footer-nombre-color);
    text-align: center;
    letter-spacing: 1px;
    border-top: 10px solid var(--footer-nombre-border);
    border-bottom: 2px solid var(--footer-nombre-border);
    background-image: var(--footer-bgimage);
    opacity: 0.7;
}

.footer-contenedor-seguinos {
    width: 80%;
    min-height: 80px;
    margin: 1vw;
    margin-top: 0;
    padding: 0 20px;
    text-align: center;
}

.footer-contenedor-seguinos a {
    width: 100%;
    height: 12vh;
    min-height: 65px;;
    max-height: 75px;
    padding: 14px; 
    margin: 1vw;
    margin-top: 0;
    display: block;
    background-color: var(--footer-link-bgcolor);
    border-bottom: 3px dashed var(--footer-link-border);
    transition: all 0.7s;
}

.footer-contenedor-seguinos img {
    height: 5vh;
    min-height: 36px;
    max-height: 42px;
}

.footer-contenedor-seguinos a:visited { color:var(--footer-link-visited); }

.footer-contenedor-seguinos a:hover {
    padding-top: 22px;
    background-image: var(--footer-bgimage);
    border: 2.5px solid var(--footer-link-hover-border);
}

.footer-contenedor-escribinos {
    text-align: center;
}

.footer-contenedor-escribinos p {
    margin-bottom: 15px;
    margin-left: 10px;
    margin-right: 10px;
    padding: 0.3vw 0.5vw 1.5vw;
    font-size: 16px;
    letter-spacing: 0.8px;  
}

.footer-contenedor-visitanos {
    margin: 20px; 
    padding: 10px;
    text-align: center;
    border: 8px solid var(--footer-iframe-border);
    box-shadow: var(--footer-iframe-boxshadow) ;
}

.footer-contenedor-visitanos iframe {
    max-width: 100%;
    max-height: 20vh;
}

.footer-contenedor-visitanos p {
    padding: 3px;
    font-family: var(--font-family-2);
    font-size: 13px;
    background-color: var(--footer-iframe-p-bgcolor);
    color: var(--footer-iframe-p-color);
    opacity: 0.7;
}

/*-------------------- FIN: FOOTER --------------------*/


/* 
-------------------- Mediaqueries: Responsive --------------------
Breakpoints: 1600px | 1080px | 720px | 450px | 550px Horizontal

*/

@media (max-width: 1600px) {
 .estrellas-mascota {
    width: 100%;
    height: auto;
 }

footer {
    padding-left: 5vw;
    padding-right: 5vw;
 }
}

@media (max-width: 1080px) {
    header,
    .nav {
        height: 100px;
    }

    .principal-contenido {
        width:100%;
        padding: 5vw 1vw;
        column-gap: 0;
        grid-template-columns: 100%;
        grid-template-rows: repeat(3, auto);
    }

    .intro-agencia {
        grid-row:1;
    }

    .intro-estrellas {
        grid-row:2;
    }

    .intro-contacto {
        grid-row:3;
    }
   
    .estrellas {
        top:100px;
        display: block;
    }
        
    .estrellas-nav {
        position: sticky;
        top: 90px;
        z-index: 20;
        width: 100%;
        height: 70px;
        margin:0;
        margin-bottom: 10px;
        padding: 0;
        background-image: none;
        border-top: 2px solid var(--estrellas-menu-border);
        border-bottom: 2px solid var(--estrellas-menu-border);
        background-image: var( --estrellas-nav-horizontal-bgimage);
    }

    .estrellas-menu {
        width: 100%;
        height: 50px;
        margin:0;
        padding: 0;
        padding-left: 5px;
        padding-right: 5px;
        display: flex;
    }
    
    .estrellas-menu-item {
        width: 100%;
        height: auto;
        margin:0;
        padding: 0;
        padding-top: 5px;
        flex-grow: 1;
    }
    
    .estrellas-menu-link {
        width: 100%;
        height: 50px;
        margin:0;
        padding-top: 0;
        padding-left: 3px;
        padding-right: 5px;
        font-size: var(--font-size-3);
        letter-spacing: 0.5vw;
        text-align: center;
        text-shadow: 3px -1px 2px var(--estrellas-menu-horizontal-textshadow);
        border: none;
        box-shadow: var(--estrellas-menu-horizontal-boxshadow);
        display:flex;
        justify-content: center;
        align-items: center;
        gap: 2px;
        transition: all 0.5s;
    }

    .estrellas-menu-link:hover {
        width: 100%;
        height: 60px;
        padding: 0;
        padding-top: 20px;
        margin: 0;
        font-size: var(--font-size-3);
        letter-spacing: 0.5vw;
        text-decoration: underline;
        background-color: var(--estrellas-menu-horizontal-hover-bgcolor);
    }
    
    .estrellas-h2 {
        position: sticky;
        top: 160px;
        height: 50px;
        font-size: var(--font-size-8);
        border: 2px solid var(--estrellas-h2-border);
        letter-spacing: 15px;
    }

    .estrellas-h3 {
        height: 50px;
        width: auto;
        margin-top: 30px;
        font-size: var(--font-size-7);
        letter-spacing: 0.8vw;
     }
     
     footer {
         padding-left: 0;
         padding-right: 0;   
        }
}

@media (max-width: 720px){
    header,
    .nav {
        height: 60px;
    }

    .nav-menu-link:hover {
        padding-top: 30px;
        font-size: var(--font-size-5);
    }

    .agencia,
    .estrellas,
    .contacto {
        top: 60px;
    }

    .estrellas-bio {
        flex-wrap: wrap;
    }

    .estrellas-bio-img {
        width: auto;
        height: 70vw;
        max-height: 353px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 10px;
        border: 4px solid black;
        border-radius: 40px;
    }

    .estrellas-bio-texto {
        margin-left: auto;
        margin-right: auto;
        padding: 16px;
    }
    
    .estrellas-nav {
        top:60px;
    }
    
    .estrellas-h2 {
        top: 130px;
    }
    
    .estrellas-talentos {
        width: 85%;
        height: auto;
        margin-left: auto;
        margin-right: auto;
        padding: 5px;
        gap: 10px; 
     }   

    .estrellas-galeria {
        grid-template-columns: 1fr 1fr;
    }
    
    .estrellas-galeria img:hover{
        border: 2px solid var(--estrellas-galeria-hover-img);
        transform: scale(0.9, 0.9);
    }

    .contacto-contenido {
        width: 96vw;
    }

     footer {
        padding-left: 0;
        padding-right:0;
        gap: 10px;
        grid-template-columns: 100%;
        grid-template-rows: repeat(3, auto);
    }

    .footer-contenedor-seguinos {
        width: 100%;
        padding: 0 2vw;
        margin: 0;
        margin-left:10px;
        display: flex;
        gap: 2vw;
        justify-content: space-evenly;
    }
}

@media (max-width: 450px) {
    .contacto-formulario {
        margin: 10px;
        width: 90vw;
    }

    .contacto-formulario fieldset {
        font-size: 16px;
        margin-right: 0;
        margin-left: 0;
        padding-right: 10px;
        padding-left: 10px;
    }

    .contacto-formulario-datos input:hover,
    .contacto-formulario-datos select:hover {
        border: 2px solid white;
        width: 250px;
    }
}

@media (max-height: 550px) {
    header,
    .nav {
        height: 60px;
    }

    .nav-menu-link:hover {
        padding-top: 30px;
        font-size: var(--font-size-5);
    }

    .agencia,
    .estrellas,
    .contacto {
        top: 60px;
    }

    .estrellas-nav {
        top:60px;
        overflow: hidden;
    }
   
    .estrellas-h2 {
        position: relative;
        top: 0;
    }
}

/*-------------------- FIN: Mediaqueries --------------------*/


/*-------------------- ANIMACION: PRINCIPAL --------------------*/

   .principal-animacion-scroll {
        position: absolute;
        top: 90%;
        left: 90%;
        transform: translate(-50%, -50%);
    }
        
    .principal-animacion-scroll span {
        display: block;
        width: 2.5vw;
        height: 2.5vw;
        border-bottom: 2px solid var(--animacion-principal-color);
        border-right: 2px solid var(--animacion-principal-color);
        transform: rotate(45deg);
        margin: -10px;
        animation: animacion-scroll 3s infinite;
    }
        
    .principal-animacion-scroll span:nth-child(2) {
        animation-delay: -0.2s;
    }
        
    .principal-animacion-scroll span:nth-child(3) {
        animation-delay: -0.4s;
    }
        
    @keyframes animacion-scroll {     
        0% {
            opacity: 0;
            transform: rotate(45deg) translate(-20px, -20px);
        }
        50% {
            opacity: 1;
        }
        100% {
            opacity: 0;
            transform: rotate(45deg) translate(20px, 20px);
        }
    }